extends layout 

block links 
    a(href="/") Home

block content 
    form(action="/create-message" method="POST")
        .sign-up-form
            .input-group 
                label(for="title")
                input#title(type="text" 
                            required="true" 
                            name="title" 
                            placeholder="Title"
                            value=(message===undefined ? '' : message.title)) 

            .input-group 
                label(for="message") 
                textarea#message(name="message", cols="30", rows="10" 
                                placeholder="Message" 
                                required="true"
                                value=(message===undefined ? '' : message.message))
            button(type="submit") Create Message


    .errs 
        if errors 
            for error in errors
                div= error.msg 