extends layout 

block content 
    h1= title 
    p Are you sure you want to delete this message?
    .message 
        h3= msg.title 
        p= msg.message
        if !user || !user.member 
            div Written by Anonymous 
        else 
            div Written by #{msg.created_by.email} on #{msg.formatted_time}
    a(href="/") Home

    .delete-form 
        form(action=`/delete/${msg._id}` method="POST") 
            button(type="submit") Delete Message
