extends layout

block links 
  if !user
    a(href="/log-in") Log in 
    a(href="/sign-up") Sign up
  else 
    if !user.member
      a(href="/join-club") Join Club 

    if !user.admin
      a(href="/become-admin") Become Admin 

    a(href="/create-message") Create Message
    a(href="/log-out") Log Out  

block content
  if user 
    div.welcome 
      h3.name-info Welcome, #{user.first_name}!
      div.email-info Signed in as #{user.email}
  if messages 
    .messages 
      for msg in messages 
        .message 
          h3.title= msg.title 
          p= msg.message
          if !user || !user.member 
            div Written by Anonymous - 
              a.normal-link(href="/join-club") Join the club
              |  to see who wrote this message! 
          else 
            div Written by #{msg.created_by.email} on #{msg.formatted_time}

          if user && user.admin 
            a(href=`/delete/${msg._id}`) Delete Message 

  else 
    p No messages yet!


