extends layout

block content
  h1= title
  p Welcome to #{title}
  if !user
    a(href="/log-in") Log in 
    a(href="/sign-up") Sign up
  else 
    if !user.member
      a(href="/join-club") Join Club 
    else 
      p You're a member!
    
    a(href="/create-message") Create Message 
    p= user.email 
    a(href="/log-out") Log Out  

  if messages 
    for msg in messages 
      .message 
        h3= msg.title 
        p= msg.message
        if !user || !user.member 
          span Written by Anonymous 
        else 
          span Written by #{msg.created_by.email}

